<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/code.css">
    <link href="http://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container-tight">
      <table id="index">
        <tr>
          <td width="50%">
            <h2>Teaching</h2>
            <ul class="posts">
              <li>
                <div class="post-title"><a href="http://csci431.artifice.cc">CSCI 431</a> &ndash; Artificial Intelligence</div>
              </li>
              <li>
                <div class="post-title"><a href="http://cinf401.artifice.cc">CINF 401</a> &ndash; Big Data Mining and Analytics</div>
              </li>
              <li>
                <div class="post-title"><a href="http://csci221.artifice.cc">CSCI 221</a> &ndash; Software Development I</div>
              </li>
              <li>
                <div class="post-title"><a href="http://csci201.artifice.cc">CSCI 201</a> &ndash; Computer Organization</div>
              </li>
              <li>
                <div class="post-title"><a href="http://cinf201.artifice.cc">CINF 201</a> &ndash; Database Systems</div>
              </li>
              <li>
                <div class="post-title"><a href="http://cinf201.artifice.cc">CSCI 111</a> &ndash; Introduction to Computing</div>
              </li>
              <li>
                <div class="post-title"><a href="http://www.stetson.edu/administration/continuing-education/steam/computer-science.php">Summer Camp</a></div>
              </li>
            </ul>
            <h2 style="margin-top: 20px;">Senior research</h2>
            <ul class="posts">
              <li>
                <div class="post-title"><a href="notes/current-past-senior-research.html">Current and past senior research</a></div>
              </li>
              <li>
                <div class="post-title"><a href="notes/senior-research-ideas.html">New senior research ideas</a></div>
              </li>
            </ul>
            <h2 style="margin-top: 20px;">Chautauquas</h2>
            <p>
              In the Stetson Math/CS department, a Chautauqua is a
              short loosely-structured presentation.
            </p>
            <ul class="posts">
              <li>
                <div class="post-title"><a href="chautauquas/zigzag-justnotes.pdf">ZigZag: A Chautauqua on J (PDF)</a></div>
              </li>
              <li>
                <div class="post-title"><a href="chautauquas/haskell.html">Haskell notes</a></div>
              </li>
              <li>
                <div class="post-title"><a href="chautauquas/eckroth-halting-problem.pdf">The Halting Problem (PDF)</a></div>
              </li>
            </ul>
          </td>
          <td width="50%">
            <h2>Research</h2>
            <ul class="posts">
              <li>
                <div class="post-title"><a href="notes/recent-publications.html">Recent publications</a></div>
              </li>
              <li>
                <div class="post-title"><a href="notes/recent-presentations.html">Recent presentations</a></div>
              </li>
              <li>
                <div class="post-title">New: <a href="https://www.packtpub.com/big-data-and-business-intelligence/python-artificial-intelligence-projects-beginners-video">Python AI video series</a></div>
              </li>
            </ul>
            <h2 style="margin-top: 20px;">i2k Connect</h2>
            <p>
              In addition to my role at Stetson University, I serve as
              Chief Architect at <a href="http://i2kconnect.com">i2k
              Connect</a>. Our mission is to revolutionize the ability
              of companies to find, filter and analyze data in text
              documents, by extracting essential information from data
              clutter.
            </p>
            <h2 style="margin-top: 20px;">Code</h2>
            <ul class="posts">
              <li>
                <div class="post-title"><a href="https://github.com/joshuaeckroth/clj-ml">clj-ml</a> &ndash; Machine learning with Clojure</div>
              </li>
              <li>
                <div class="post-title"><a href="https://github.com/artifice-cc/paragon">Paragon</a> &ndash; Abductive reasoning toolkit</div>
              </li>
              <li>
                <div class="post-title"><a href="https://github.com/artifice-cc/geppetto">Geppetto</a> &ndash; Experimental support for engineering intelligent systems</div>
              </li>
              <li>
                <div class="post-title"><a href="https://github.com/StetsonMathCS/hadoopvirtualcluster">Hadoop Virtual Cluster</a> &ndash; Quickly launch a Hadoop cluster for educational use</div>
              </li>
              <li>
                <div class="post-title"><a href="https://github.com/StetsonMathCS/metatron">Metatron</a> &ndash; Code and notes for the department's wheeled robot</div>
              </li>

            </ul>
          </td>
          <td id="metabox">
            <div class="myname">Joshua Eckroth</div>
            <div class="mytitle">Asst Prof of CS<br/>@ Stetson University</div>
            <div class="myimage">
              <img src="images/joshua-eckroth.jpg" title="Joshua Eckroth" alt="Joshua Eckroth" />
            </div>
            <div class="email"><b><a href="mailto:jeckroth@stetson.edu">jeckroth@stetson.edu</a></b></div>
          </td>
        </tr>
      </table>      
      <div class="footer">
        This website is not a publication of Stetson
        University and has not been edited or examined for
        content by Stetson University. The author of the
        website is solely responsible for the content.
      </div>
    </div>
  </body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68100609-2', 'auto');
  ga('send', 'pageview');

</script>

</html>
